<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iie.wxy.wifilocrecoder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" />
	
	<!--In order to facilitate the demonstration, the following permissions to read and write sdcard  -->
	<uses-permission android:name="android.permission.MOUNT_UMOUNT_FILESYSTEMS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
                <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>        
                <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="aMIfCBcHmMCcntt25x3GVdd1uIBVdPlp" />  <!--http://lbsyun.baidu.com/apiconsole/key-->
        <activity
            android:name="iie.wxy.wifilocrecoder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="iie.wxy.wifilocrecoder.WifiRecoder">  
            <intent-filter>  
                <action android:name="wxy.iie.wifilocrecoder.WifiRecoder"/>  
            </intent-filter>              
		</service>
    </application>

</manifest>
